@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(assets/css/home.css);
@import url(assets/css/sobre.css);
@import url(assets/css/habilidades.css);
@import url(assets/css/projetos.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root[data-theme='dark'] {
  --color-principal: #bb4170;
  --color-text: #fff3f9;
  --color-bg: #0a141e;
  --color-opacity: rgba(255, 255, 255, 0.03);
  --color-border: #142933;
  --color-border-hover: #3c5d74;
}
:root[data-theme='light'] {
  --color-principal: #a8376e;
  --color-text: #0a181e;
  --color-bg: #fce6ed;
  --color-opacity: rgba(212, 70, 138, 0.05);
  --color-border: #f7d4e0;
  --color-border-hover: #c06e94;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  animation: animatedGradient 15s ease infinite;
  background-size: 200%;
  background-image: radial-gradient(
      circle at 50% 0%,
      var(--color-opacity),
      transparent 60%
    ),
    radial-gradient(circle at 100% 0%, var(--color-opacity), transparent 50%);
}
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: var(--color-text);
  transition: 0.3s;
}
a:hover {
  color: var(--color-principal);
}

header .title {
  display: flex;
  align-items: center;

  justify-content: space-between;
  margin: 2rem 4rem 1rem;
  gap: 6rem;
}
header,
.aside {
  position: fixed;
}
header .title h1 {
  font-size: 3rem;
  color: var(--color-principal);
}
header i {
  font-size: 3rem;
  cursor: pointer;
  color: var(--color-text);
  margin-top: -0.5rem;
}
.aside {
  left: 4rem;
  top: 7rem;
  bottom: 2rem;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.aside-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.aside-perfil h2 {
  font-size: 2rem;
  color: var(--color-text);
  margin: 0;
}
.aside-perfil img {
  max-width: 150px;
}

.aside .sociais-icons {
  text-align: center;
}
.sociais-icons i {
  margin: 0 4px;
  font-size: 2.5rem;
  color: var(--color-text);
  transition: 0.3s;
  background-color: var(--color-opacity);
  border-radius: 50%;
  padding: 0.3rem;
}
.sociais-icons a i:hover {
  color: var(--color-principal);
  transform: scale(1.1);
}

.aside .navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar {
  scroll-target-group: auto;
  li a:target-current {
    color: var(--color-principal);
    text-shadow: 0 0 4px var(--color-principal);
  }
}
.aside .navbar li {
  list-style: none;
}
.aside .navbar li a {
  font-size: 1.5rem;
}
.aside .navbar li a i {
  font-size: 1.5rem;
  color: var(--color-principal);
}
main {
  margin-left: 35rem;
}
h2 {
  color: var(--color-principal);
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0;
}
