.habilidades-ferramentas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 2rem;
}

.habilidades-ferramentas img {
  padding: 2rem;
  width: 20%;
  height: auto;
  border-radius: 1rem;
  background: var(--color-opacity);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  transition: transform 1s, box-shadow 0.2s ease;
}
.habilidades-ferramentas img:hover {
  border: 1px solid var(--color-border-hover);
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(57, 14, 66, 0.35);
}
