.home-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home-developer .home-tag {
  width: 220px;
  color: var(--color-dark);
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: linear-gradient(
    130deg,
    var(--color-colorida) 0%,
    var(--color-light) 100%
  );
  padding: 3px 15px;
  border-radius: 25px;
}

.home-developer h1 {
  font-size: 4rem;
}

.home-developer .span-sobrenome {
  color: var(--color-colorida);
}

.home-contato {
  display: flex;
  gap: 2rem;
}
.home-info .home-contato button {
  padding: 10px 30px;
  font-size: 1.25rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.home-info .home-contato button a {
  color: var(--color-dark);
}
.btn-curriculo {
  background: linear-gradient(
    130deg,
    var(--color-light) 0%,
    var(--color-colorida) 100%
  );
}
.btn-contato {
  background: linear-gradient(
    130deg,
    var(--color-colorida) 0%,
    var(--color-light) 100%
  );
}
.home-contato button:hover {
  background: none;
  background-color: #fa6969;
}
